<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProvaHidrica.Settings.SPlcAddresses" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProvaHidrica.Settings.SPlcAddresses>
            <setting name="ReadIsOpen1" serializeAs="String">
                <value>DB1.DBX0.0</value>
            </setting>
            <setting name="ReadIsOpen2" serializeAs="String">
                <value>DB1.DBX0.1</value>
            </setting>
            <setting name="ReadPlcStatus" serializeAs="String">
                <value>DB1.DBX0.3</value>
            </setting>
            <setting name="WriteOpen1" serializeAs="String">
                <value>DB1.DBX2.0</value>
            </setting>
            <setting name="WriteOpen2" serializeAs="String">
                <value>DB1.DBX2.1</value>
            </setting>
        </ProvaHidrica.Settings.SPlcAddresses>
    </userSettings>
</configuration>